@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 600;
}

body {
    background: linear-gradient(105deg, #bad1fa 0%, #ecddd4 50%, #FFE2B0 100%);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.regular-txt{
    font-weight: 400;
}

#main-container {
    border: 3px transparent;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 55%;
    height: 65%;
    z-index: 1;
    background: linear-gradient(105deg, #bad1fa 0%, #ecddd4 50%, #FFE2B0 100%);
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 15px;
}

.weather-info{
    display:none;
    flex-direction: column;
}

.input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 25px;
    margin-left: 20px;
}

#city-input {
    width: 50%;
    padding: 5px 10px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: white;
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}

#city-input:focus {
    border: 1px solid #6BA4FF;
    background-color: #bad1fa;
}

#city-input::placeholder{
    color: rgb(255, 255, 255, 0.75);
}

#search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 99px;
    cursor: pointer;
    background-color: white;
}

i{
    padding: 0;
    margin: 0;
}

.pin-icon {
    color: rgba(208, 1, 1, 0.783);
}

.search-icon {
    color: #899499;
}

#live-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 115px;
    max-width: 40%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 99px;
    cursor: pointer;
    background-color: white;
}

.location-date-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 40px;
}
.location{
    display: flex;
    align-items: center;
    gap: 6px;
}

.weather-summary-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.weather-summary-img {
    width: 145px;
    height: 145px;
}

.condition-txt {
    text-transform: capitalize;
}

.forecast-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: -15px;
}

.forecast-img{
    width: 60px;
    height: 60px;
}

.humidity-info, .wind-info {
    font-weight: 200;
    font-size: 12px;
}

.forecast-txt {
    font-weight: 300;
    font-size: 14px;
}

.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.section-message img{
    width: fit-content;
    height: 175px;
    margin-top: 10px;
}
/*.weather-info {


}

.location-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



